- Mengimport Libraries Yang Dibutuhkan

In [143]:
import seaborn as sns
import pandas as pd

- Menyimpan Data Ke Variabel Tertentu

In [144]:
titanic = sns.load_dataset("titanic")

- Menampilkan Data Diawal Dengan Default 5 Row

In [145]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

- Menampilkan Info Pada Data

In [146]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

- Menampilkan Berapa Data Yang Kosong Pada Masing-Masing Column

In [147]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

- Menghapus Data Yang Kosong Dan Menampilkan Berapa Data Yang Kosong Pada Masing-Masing Column

In [148]:
titanic = titanic.dropna(subset=["embarked", "embark_town"], axis=0)
titanic = titanic.dropna(axis=1)
titanic.isnull().sum()

survived       0
pclass         0
sex            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

- Menampilkan Berapa Banyak Value Pada Data "embarked", "embark_town", "sex", "adult_male", "who"

In [149]:
titanic[["embarked", "embark_town", "sex", "adult_male", "who"]].value_counts()

embarked  embark_town  sex     adult_male  who
S         Southampton  male    True        man      410
                       female  False       woman    174
C         Cherbourg    male    True        man       90
                       female  False       woman     60
Q         Queenstown   male    True        man       37
                       female  False       woman     35
S         Southampton  male    False       child     31
                       female  False       child     29
C         Cherbourg    female  False       child     13
                       male    False       child      5
Q         Queenstown   male    False       child      4
                       female  False       child      1
Name: count, dtype: int64

- Menggantikan Value Sebelumnya Menjadi Value Yang Baru Pada Data Class

In [150]:
map_dict = {
    'First':1,
    'Second': 2,
    'Third': 3
}

titanic["class"] = titanic["class"].map(map_dict)
titanic.head()

,survived,pclass,sex,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,1,0,7.2500,S,3,man,True,Southampton,no,False
1,1,1,female,1,0,71.2833,C,1,woman,False,Cherbourg,yes,False
2,1,3,female,0,0,7.9250,S,3,woman,False,Southampton,yes,True
3,1,1,female,1,0,53.1000,S,1,woman,False,Southampton,yes,False
4,0,3,male,0,0,8.0500,S,3,man,True,Southampton,no,True

- Menggantikan Value Yang Sebelumnya Menjadi Value Yang Baru Pada Posisi Data 'who' Dengan Index 0

In [151]:
titanic.loc[0, 'who'] = "woman"

- Menampilkan Data Diawal Dengan Default 5 Row

In [152]:
titanic.head()

,survived,pclass,sex,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,1,0,7.2500,S,3,woman,True,Southampton,no,False
1,1,1,female,1,0,71.2833,C,1,woman,False,Cherbourg,yes,False
2,1,3,female,0,0,7.9250,S,3,woman,False,Southampton,yes,True
3,1,1,female,1,0,53.1000,S,1,woman,False,Southampton,yes,False
4,0,3,male,0,0,8.0500,S,3,man,True,Southampton,no,True

- Mengubah Data Dengan Metode 'OrdinalEncoder'

In [153]:
from sklearn.preprocessing import OrdinalEncoder

orr = OrdinalEncoder()
titanic[["sex", "embarked", "who", "adult_male", "embark_town", "alive", "alone"]] = orr.fit_transform(titanic[["sex", "embarked", "who", "adult_male", "embark_town", "alive", "alone"]])
titanic.head()

,survived,pclass,sex,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1.0,1,0,7.2500,2.0,3,2.0,1.0,2.0,0.0,0.0
1,1,1,0.0,1,0,71.2833,0.0,1,2.0,0.0,0.0,1.0,0.0
2,1,3,0.0,0,0,7.9250,2.0,3,2.0,0.0,2.0,1.0,1.0
3,1,1,0.0,1,0,53.1000,2.0,1,2.0,0.0,2.0,1.0,0.0
4,0,3,1.0,0,0,8.0500,2.0,3,1.0,1.0,2.0,0.0,1.0

- Membuat Data Yang Baru, Dihapuskan Data Yang Kosong, Dan Menampilkan Berapa Data Yang Kosong

In [154]:
new_titanic = sns.load_dataset("titanic").dropna()
new_titanic.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

- Mengubah Data Dengan Metode 'LabelEncoder'

In [155]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

deck = new_titanic[["deck"]]
deck_fit_transform = label_encoder.fit_transform(deck)
new_titanic.head()

/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

- Menggantikan Data 'deck' Dengan DataFrame Yang Baru Dan Menampilkan Data Diawal Dengan Default 5 Row

In [156]:
new_titanic[["deck"]] = pd.DataFrame(deck_fit_transform, columns=deck.columns, index = deck.index)
new_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,2,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,2,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,4,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,6,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,2,Southampton,yes,True

- Menampilkan Value Sebelumnya Yang Sudah Diubah

In [157]:
label_encoder.classes_

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype=object)

- Menampilkan Data Diawal Dengan Default 5 Row

In [158]:
new_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,2,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,2,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,4,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,6,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,2,Southampton,yes,True

- Mengubah Data Dengan Metode 'pd.get_dummies'

In [160]:
who = pd.get_dummies(new_titanic["who"])
pd.concat([new_titanic.drop("who", axis=1), who], axis=1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,deck,embark_town,alive,alone,child,man,woman
1,1,1,female,38.0,1,0,71.2833,C,First,False,2,Cherbourg,yes,False,False,False,True
3,1,1,female,35.0,1,0,53.1000,S,First,False,2,Southampton,yes,False,False,False,True
6,0,1,male,54.0,0,0,51.8625,S,First,True,4,Southampton,no,True,False,True,False
10,1,3,female,4.0,1,1,16.7000,S,Third,False,6,Southampton,yes,False,True,False,False
11,1,1,female,58.0,0,0,26.5500,S,First,False,2,Southampton,yes,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,False,3,Southampton,yes,False,False,False,True
872,0,1,male,33.0,0,0,5.0000,S,First,True,1,Southampton,no,True,False,True,False
879,1,1,female,56.0,0,1,83.1583,C,First,False,2,Cherbourg,yes,False,False,False,True
887,1,1,female,19.0,0,0,30.0000,S,First,False,1,Southampton,yes,True,False,False,True
889,1,1,male,26.0,0,0,30.0000,C,First,True,2,Cherbourg,yes,True,False,True,False

- Menampilkan Data Diawal Dengan Default 5 Row

In [181]:
new_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,alive,alone,Cherbourg,Queenstown,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,2,yes,False,0.0,0.0,1.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,2,yes,False,0.0,0.0,1.0
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,4,no,True,0.0,0.0,1.0
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,6,yes,False,0.0,0.0,1.0
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,2,yes,True,0.0,0.0,1.0

- Mengubah Data Dengan Metode 'OneHotEncoder'

In [171]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder()
embark_town = one_hot_encoder.fit_transform(new_titanic[["embark_town"]])
column = one_hot_encoder.categories_
embark_town = embark_town.toarray()
embark_town = pd.DataFrame(embark_town, columns=column)
embark_town.head()

  Cherbourg Queenstown Southampton
0       1.0        0.0         0.0
1       0.0        0.0         1.0
2       0.0        0.0         1.0
3       0.0        0.0         1.0
4       0.0        0.0         1.0

- Menampilkan Value Sebelumnya Yang Sudah Diubah

In [180]:
one_hot_encoder.categories_

[array(['Cherbourg', 'Queenstown', 'Southampton'], dtype=object)]

- Menampilkan Berapa Banyak Row Pada Data 'embark_town' Dan 'new_titanic'

In [173]:
print("lenght embark_town:", len(embark_town), "length new_titanic:", len(new_titanic))

lenght embark_town: 182 length new_titanic: 182

- Menghapus Data 'embark_town' Per-Column Pada Data 'new_titanic' Dengan Menambahkan Column Baru "Cherbourg", "Queenstown", "Southampton" Dan Menampilkan Data Diawal Dengan Default 5 Row

In [177]:
# pd.concat([new_titanic.drop("embark_town", axis=1), embark_town], axis=1)
new_titanic = new_titanic.drop("embark_town", axis=1)
new_titanic[["Cherbourg", "Queenstown", "Southampton"]] = embark_town
new_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,alive,alone,Cherbourg,Queenstown,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,2,yes,False,0.0,0.0,1.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,2,yes,False,0.0,0.0,1.0
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,4,no,True,0.0,0.0,1.0
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,6,yes,False,0.0,0.0,1.0
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,2,yes,True,0.0,0.0,1.0